/* general config */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 550;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* ball */
.ball1 {
    position: absolute;
    width: 120em;
    height: 200vh;
    background-color: #F6B7D1;
    border-radius: 50%;
    animation: animacaoRGB 100s linear infinite;
    border: none;
    top: -5em;
    right: 10em;
    z-index: -2;
}

/* animation ball */
@keyframes animacaoRGB {
    0%, 100% {
        filter: hue-rotate(0deg);
        border: none;
    } 50%{
        filter: hue-rotate(180deg);
        border: none;
    } 
}


/* first container (left side) */
.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img {
    height: 45rem;
}
#instagram_phone_pink {
    margin-left: -550px;
    margin-top: 50px;
}

/* second container (right side) */
.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #D3D3D3;
    width: 85%;
    padding: 1.3rem 0;    
    border-radius: 9px;
    margin-bottom: 5%;
}
/* get the first element child  */
.group:nth-child(1) {
    min-height: 19rem;
}
.instagram-logo {
    height: 3.3rem;
}
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em;
}
.profile-photo img {
    height: 8rem;
}
.instagram-login {
    background-color: #FF97CC;
    animation: animacaoRGB 100s linear infinite;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}
.instagram-login:hover {
    background-color: #fd8ec7;
    animation: animacaoRGB 100s linear infinite;
}
.instagram-logout {
    color: #FF97CC;
    margin-top: 1rem;
    animation: animacaoRGB 100s linear infinite;
}
.instagram-logout:hover {
    color: #fd8ec7;
    animation: animacaoRGB 100s linear infinite;
}
.not-account {
    color: rgb(160, 160, 160);
    line-height: 1.5em;
}
.link-blue {
    color: #FF97CC;
    animation: animacaoRGB 100s linear infinite;
}
.link-blue:hover {
    color: #fd8ec7;
    animation: animacaoRGB 100s linear infinite;
}
.get-app {
    margin-bottom: 1em;
    animation: animacaoRGB 100s linear infinite;
}
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
.app-download:nth-child(1) {
    background-image: url('../assets/imagem/apple-button.png');
}
.app-download:nth-child(2) {
    background-image: url('../assets/imagem/googleplay-button.png');
}

/* tablet and smartphone */
@media (max-width: 1600px) {
    .instagram-wrapper {
        width: 80%;
    }
    .instagram-phone img {
        height: 40rem;
    }
}
@media (max-width: 1200px) {
    .instagram-wrapper {
        width: 100%;
    }
    .instagram-phone img {
        height: 40rem;
    }
}
@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
}